<div class="nav">
  <div class="nav-left">
    <span class="nav-item">
      <a class="button is-primary">
        <span class="icon">
          <i class="fa fa-sticky-note"></i>
        </span>
        <span>Note</span>
      </a>
    </span>
  </div>
  <div class="nav-center">
    <h1 class="title nav-item">Search Equipment</h1>
  </div>
  <div class="nav-right">
    <span class="nav-item">
      <a class="button is-primary">
        <span class="icon">
          <i class="fa fa-sign-in"></i>
        </span>
        <span>Login</span>
      </a>
    </span>
  </div>
</div>
