<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third is-offset-one-third">
        <figure class="img is-2by1">
          <img src="http://placehold.it/640x320">
        </figure>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <p class="control has-addons">
          <input class="input is-expanded" type="search" placeholder="Search">
          <a class="button">
            <span class="icon"> 
              <i class="fa fa-search"></i>
            </span>
            <span>Search</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <equipment-card></equipment-card>
      </div>
    </div>
  </div>
</section>
