<div class="card is-fullwidth">
  <div class="card-content columns">
    <div class="column is-narrow">
      <figure class="image is-96x96">
        <img src="http://placehold.it/96x96">
      </figure>
    </div>
    <div class="column">
      <div>
      <span class="title is-5">Equipment Name</span>
      <span class="subtitle is-6">Category</span>
      </div>
      <div>
      <span>Location: </span>
      <span>Last known location.</span>
      </div>
      <span class="is-pulled-right">5 minutes ago</span> 
    </div>
  </div>
</div>
